
<div class="cards">





    <!-- card -1 -->

    <mat-card>
        <app-card
        bg="orange"
        icon="person"
        description="student"
        count="5000"
        
        ></app-card>      
    </mat-card>

<!-- card-2 -->
    <mat-card>
        <app-card
            
        bg="red"
        icon="home"
        description="institution"
        count="2000"
        ></app-card>      
    </mat-card>

   <!-- card-3 -->
    <mat-card>
        <app-card
        
        bg="green"
        icon="groups"
        description="employees"
        count="1500"
        ></app-card>      
    </mat-card>

     <!-- card-4 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="dashboard"
        description="placements"
        count="1000"
        ></app-card>      
    </mat-card>
   
</div>

<div class="areas">
<app-area></app-area>
</div>


<div class="tablepi">
    <div>
        <app-table></app-table>
    </div>

    <div>
        <app-piechart></app-piechart>
    </div>
</div>